@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body{
    background-color: #222;
    font-family: 'Montserrat', sans-serif;
    color: #ffff;

}
.player{
    text-align: center;
}
.player img{
    width: 40px;
    padding: 5px 5px 5px 5px;
    cursor: pointer;
    filter: invert(100%);
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    
}
.player img:hover{
    filter: invert(0%);
    padding: 0px 0px 0px 0px;
}
.artist{
    margin-top: 100px;
    width: 100%;
    border: 2px solid #111;
    border-radius: 25px;
    box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15),
    inset 0 -8px 8px rgba(0, 0, 0, 0.25),
    0 0 0 2px rgba(0, 0, 0, 0.75),
    10px 20px 25px rgba(0, 0, 0, 0.4) ;
}
.container{
    box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15),
    inset 0 -8px 8px rgba(0, 0, 0, 0.25),
    0 0 0 2px rgba(0, 0, 0, 0.75),
    10px 20px 25px rgba(0, 0, 0, 0.4) ;
    background: radial-gradient(#444, #111);
    margin-top: 110px;
    border-radius: 20px;
}
h2{
    margin-top: 30px;
    font-size: 50px;
}
i{
    margin-top: 20px;
    font-size: 24px;
}
progress{
    text-align: right;
    margin-top: 20px;
    height: 16px;
    box-shadow: 1px 1px 1px 1px #222;
    width: 0%;
}
.time{
    margin-top: 20px;
    text-align: center;
}
.finish{
    margin-top: 20px;
    text-align: right;
}
.first{
    margin-top: 20px;
    text-align: left;
}
.pause{
    display: none;
}
.descricao{
    text-align: center;
}